@charset "ISO-8859-1";
body{
	font-family: Times;
	background-color: smoke;
}

header
{
	border: 3px solid red;
	position: sticky;
	top: 0;
	z-index: 1;
	background-color:white;
}

nav a:hover
{
	color: red;
}

nav.navigation
{
	color:red;
	border: 1px solid red;
	padding:6px;
}

a.navItem
{
	color:black;
	margin: 5pt;
}
a:hover
{
	color: red;
}


h1
{
	font-style:bold;
	color:red;
}

#DJF
{
	margin: 0 15px 20px 0;
	animation: fadeInLeft 2s ease-out;
}
@keyframes fadeInLeft{
	from{
	opacity: 0;
	transforms: translatex(-60px)
	}
	to{opacity:1}
}

figure.education
{
	width:250px;
	height:300px;
}
#DJFeducation1
{
	width:125px;
	height:225px;
	margin: 0 15px 20px 0;
	animation: fadeInLeft 2s ease-out;
}
@keyframes fadeInLeft{
	from{
	opacity: 0;
	transforms: translatex(-60px)
	}
	to{opacity:1}
}
	
footer
{
	border: 3px solid black;
	background:red;
	color:white;
}	
	
img.aclu
{
	width: 200px;
	height: 170px
}
